* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    /*background-color: ;*/
    font-family: BrutGrotesqueBook, Helvetica, Arial, sans-serif; /*Roboto?*/
}

#main {
    margin: 50px;
}

/* UPLOAD FIELD*/

.fields {
    display: flex;
}

.field {
    margin-right: 10px;
}

#title,
#description,
#username {
    border: 0;
    border-bottom: 1px solid black;
}

#title,
#description,
#username:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

/* IMAGES */

.images {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
}

li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.imageBox {
    position: relative;
}

.imageLink {
    cursor: default;
}

.uploadetImages {
    border-radius: 7px;
    width: 25rem;
    height: 20rem;
    object-fit: cover;
}

.mainDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 7px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox:hover .mainDescription {
    visibility: visible;
    opacity: 1;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImageBox {
    max-width: 90vw;
    max-height: 95vh;
    display: flex;
    border-radius: 7px;
    padding: 5px;
    position: relative;
    background-color: white;
}

.modalImage {
    border-radius: 7px;
    max-width: 90%;
    max-height: 95%;
    object-fit: cover;
}

.imageDetails p {
    margin: 0;
}

.imageCreatorDetails {
    margin-top: 5px;
    font-size: 0.7rem;
}

.imageAndDescription {
    display: flex;
    flex-direction: column;
}

/* COMMENTS */

.comments {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.comments-list {
    list-style-type: none;
    flex: 1;
}

.comments-list li p {
    margin: 0;
}

.commentator {
    font-size: 0.7rem;
}

.comments form {
    justify-self: flex-end;
}

#comment-username,
#comment-text {
    border: 0;
    border-bottom: 1px solid black;
}

#comment-username,
#comment-text:focus {
    outline: none;
}

.comments textarea {
    font-family: BrutGrotesqueBook, Helvetica, Arial, sans-serif;
    font-size: 13.3333px;
    margin: 0;
    padding: 0;
    width: 139.667px;
    height: 16px;
    padding: 1px;
}

.no-comments {
    margin-top: 100px;
    align-self: center;
}

/* BUTTONS */

.moreButton {
    display: flex;
    justify-content: center;
}

.button-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.buttons {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-right: 10px;
}
