* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    /*background-color: ;*/
    font-family: BrutGrotesqueBook, Helvetica, Arial, sans-serif; /*Roboto?*/
}

/* UPLOAD FIELD*/

.fields {
    display: flex;
    margin-left: 30px;
}

.field {
    margin-right: 10px;
}

#title,
#description,
#username {
    border: 0;
    border-bottom: 1px solid black;
}

/* .uploadButton {
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    border-radius: 0.12em;
    text-align: center;
    transition: all 0.2s;
}

.uploadButton:hover {
    color: #000000;
    background-color: lightgrey;
} */

/* IMAGES */

.images {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
}

li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.imageBox {
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
}

.uploadetImages {
    border-radius: 7px;
    width: 25rem;
    height: 20rem;
    object-fit: cover;
}

/* MODAL */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImageBox {
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    position: relative;
}

.modalImage {
    border-radius: 7px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.button-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
